<!--
  Generated template for the PlaycodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>设置支付密码</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="playcode" *ngIf="type!='no'"><input type="text" placeholder="请输入现在的手机号" [(ngModel)]="client_phone"></div>
    <div class="playcode"><img src="assets/imgs/images/re_12.png" alt="" srcset=""> <input type="text" placeholder="确认您的密码" [(ngModel)]="payment_password"></div>
    <div class="yanzm" *ngIf="type!='no'"><button class=" yanz " [disabled]="disabled " (click)="sendCode() ">获取验证码<span *ngIf="num>0">({{num}})</span>
        </button><input type="text" [(ngModel)]="code" placeholder="请输入验证码"></div>
    <button class="isok" *ngIf="type=='no'" (click)="SetPayment()">确认</button>
    <button class="isok" *ngIf="type!='no'" (click)="SetPayment()">确认</button>
</ion-content>