page-daylist .scroll-content {
  padding: 0 !important;
  background: #fff;
}

page-daylist .title {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

page-daylist .title span {
  font-size: 1.5rem;
}

page-daylist .title span:nth-of-type(2) {
  color: #999;
}

page-daylist .boxs {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 16px;
  margin-bottom: 1.5rem;
}

page-daylist .boxs .listlv {
  width: 3rem;
}

page-daylist .boxs .listlv img {
  width: 2rem;
}

page-daylist .boxs .lvuser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}

page-daylist .boxs .lvuser span {
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-bottom: 0.5rem;
}

page-daylist .boxs .lvuser span:nth-of-type(2) {
  color: #999;
}

page-daylist .boxs .lvuser img {
  width: 3rem;
  border-radius: 50%;
}
