page-login .content {
  background: url(../assets/imgs/loginBg.jpg) 100% 100%;
  background-repeat: round;
  background-position: 0 0;
}

page-login .loginLogo {
  display: flex;
  justify-content: center;
}

page-login .item {
  border: none !important;
  background: rgba(254, 254, 254, 0.3) !important;
  border-radius: 10px;
  margin-top: 2rem;
}

page-login .item-inner {
  border: none !important;
}

page-login .iconfont {
  font-size: 2rem;
  color: #fff;
}

page-login .input {
  color: #fff !important;
}

page-login input::placeholder {
  color: #fff !important;
}

page-login input:-webkit-autofill {
  background-color: transparent !important;
}

page-login .flex-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

page-login .flex-between span {
  color: #fff;
  z-index: 99;
  font-size: 1.5rem;
}

page-login .btn {
  width: 100% !important;
  background: #e76c08;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
}

.userlogin {
  width: 90vw;
  display: flex;
}

.userlogin input {
  border: 1px solid #999;
  width: 100%;
}
