page-personalcenter .scroll-content {
  padding: 0 !important;
  background: #eee;
  color: #666;
}

page-personalcenter .day {
  width: 100%;
  padding: 2rem;
  padding-top: 5rem !important;
  background: url(../assets/imgs/images/con_bg.png);
  background-size: 100%;
}

page-personalcenter .day ul {
  display: flex;
  justify-content: space-around;
}

page-personalcenter .day ul li {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

page-personalcenter .day ul li span {
  font-size: 1.5rem;
  font-weight: 900;
}

page-personalcenter .day ul li span:nth-of-type(2) {
  color: #ee4242;
  display: inline-block;
}

page-personalcenter .day ul li:nth-of-type(2) {
  margin-top: -1rem;
}

page-personalcenter .day ul li:nth-of-type(2) img {
  width: 8rem;
}

page-personalcenter .list {
  padding: 1.5rem 1rem;
  background: #fff;
  margin-top: 1rem;
}

page-personalcenter .list ul {
  display: flex;
  flex-wrap: nowrap;
}

page-personalcenter .list ul li {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}
