<!--
  Generated template for the ShopcallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>购物车</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="callbox" *ngFor="let item of carts; let i = index">
        <p class="shops2">
            <input type="checkbox" *ngIf="!checks[i].checked"><input checked type="checkbox" *ngIf="checks[i].checked">
            <img src="assets/imgs/images/dp.png" alt="" srcset=""> {{item.shop_name}}></p>
        <div class="shops">

            <div class="datas">
                <div (click)="check(i)"> <input type="checkbox" *ngIf="!checks[i].checked"><input checked type="checkbox" *ngIf="checks[i].checked"></div>
                <div>
                    <img (click)="goodinfo(item.goods_id)" src="{{imgUrl}}{{item.cover}}" alt="">
                    <div>
                        <h1>{{item.goods_name}}</h1>
                        <p>{{item.goods_key}}</p>
                        <p>
                            <span class="money">¥{{item.goods_price| number:'1.2-2'}}</span>
                            <span style="font-size: 1.5rem"><button (click)="changeQuantity(i, 0)">-</button><input [(ngModel)]="item.quantity" (ngModelChange)="modelChange(i,$event)" type="text" value="1"><button (click)="changeQuantity(i, 1)">+</button></span>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="height: 5rem;"></div>
    <div class="jiesuan">
        <span (click)="checkAll()"> <input type="checkbox" *ngIf="checkTxt=='全选'"><input type="checkbox" *ngIf="checkTxt=='取消全选'" checked>{{checkTxt}}</span> <span> <span>合计 <span style="color: #fb7a3a;font-size: 1.5rem">¥{{this.total| number:'1.2-2'}}</span></span> <button (click)="gopay()">结算</button></span>
    </div>
</ion-content>