page-order {
    .scroll-content {
        padding: 0 !important;
        background: #eee
    }
    .titaa {
        margin-bottom: 1rem;
        .userimg {
            width: 6rem;
        }
    }
    .distribution {
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
    }
    .ble {
        display: flex;
        align-items: center;
        padding: 1rem;
        background: #fff;
        .shopingimg {
            width: 10rem;
            ;
        }
    }
    .ble2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 1rem;
        p {
            font-size: 1.8rem
        }
        .pardack {
            color: #999
        }
        .maxprice {
            color: #FF7041
        }
        .total {
            display: flex;
            justify-content: space-between
        }
        .title {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 7rem;
            >p {
                font-size: 1.5rem;
            }
            >p:nth-of-type(1) {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        span {
            margin-top: 0.5rem;
            img {
                width: 1rem;
            }
        }
    }
    .name {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .djd {
        width: 5rem;
        height: 2rem;
        color: #fff;
        background: #EF8936;
        border-radius: 2rem
    }
    .texx {
        padding: 1rem;
        background: #fff;
    }
    .imglist {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        padding-bottom: 1rem;
        img {
            width: 25vw;
            height: 25vw;
            margin-left: 6vw;
            margin-bottom: 1rem
        }
    }
    .titaa {
        background: #fff
    }
    .top {
        margin-top: 2rem
    }
    .black {
        color: #999
    }
    .martop {
        margin-top: -1.5rem
    }
    .tarea {
        margin-top: 1rem;
        background: #fff;
        padding: 1rem;
        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            width: 10rem;
        }
    }
    .shoppingcall {
        background: #fff;
        position: fixed;
        bottom: 0px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        >div:nth-of-type(1) {
            display: flex;
            padding: 1rem;
            align-items: center;
            .maxprice {
                font-size: 2rem;
                color: #FF7041
            }
            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                img {
                    width: 3rem;
                    height: 2.6rem;
                }
                span {
                    color: #999
                }
            }
        }
        >div {
            button {
                width: 50%;
                height: 100%;
                color: #fff;
            }
            .shop {
                background: rgb(243, 66, 43);
                width: 10rem;
            }
        }
    }
}