<!--
  Generated template for the AdvicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>消息通知</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <!-- <button ion-item>
      <span class="numimg">
        <img src="assets/imgs/images/petImg.png" alt="" srcset="">
        <span>1</span>
      </span>
      <span>收到的赞</span>
    </button> -->

        <button ion-item (click)="gofivebotice(index=0)">
      <span class="numimg">
        <img src="assets/imgs/images/petImg.png" alt="" srcset="">
        <!-- <span *ngIf="messagelist.length>0" >{{messagelist.length}}</span> -->
      </span>
      <span>收到的评论</span>
    </button>

        <button ion-item (click)="gofivebotice(index=1)">
      <span class="numimg">
        <img src="assets/imgs/images/petImg.png" alt="" srcset="">
        <!-- <span *ngIf="concernlist.length>0" >{{concernlist.length}}</span> -->
      </span>
      <span> 新的关注</span>
    </button>

        <!-- <button ion-item (click)='godetails()'>
      <span class="numimg">
        <img src="assets/imgs/images/petImg.png" alt="" srcset="">
        <span>1</span>
      </span>
      <span class="texmgs">
        <span>配种申请</span>
        <span></span>
      </span>

    </button> 
        </button>-->


        <button ion-item (click)='gostaff()'>
      <span class="numimg">
        <img src="assets/imgs/images/petImg.png" alt="" srcset="">
        <!-- <span>1</span> -->
      </span>
      <span class="texmgs">
        <span>邀请类消息</span>
        <span></span>
      </span>
    </button>


    </ion-list>
</ion-content>