<!--
  Generated template for the AllordersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>全部订单</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="tabs">
        <ul>
            <li [ngClass]="{'eft':order_status==''}" (click)="status()">全部</li>
            <li [ngClass]="{'eft':order_status==0}" (click)="status(0)">未支付</li>
            <li [ngClass]="{'eft':order_status==1}" (click)="status(1)">待发货</li>
            <li [ngClass]="{'eft':order_status==2}" (click)="status(2)">已发货</li>
            <li [ngClass]="{'eft':order_status==3}" (click)="status(3)" *ngIf="ordertype == 2">待评价</li>
            <li [ngClass]="{'eft':order_status==4}" (click)="status(5)">退款/售后</li>

        </ul>
        <div class="tabspage">
            <div *ngIf="ordertype==2">
                <div class="shops" *ngFor="let item of order_list">

                    <p (click)="goShop(item.shopid)">
                        <span>
              <img style="width: 3rem;" src="{{imgUrl}}{{item.shoplist[0]?.head_path}}" alt="" onerror="src='assets/imgs/loginLogo.png'">{{item.shoplist[0]?.shop_name}}</span>
                        <span>
              <img src="assets/imgs/images/right.png" alt="" srcset="">
            </span>
                    </p>
                    <div class="datas" *ngFor="let citem of item?.dtailOrderList;let i = index;">
                        <div (click)="goodsdetail(item.order_id)" style="margin-top: 1rem;">
                            <img style="width: 25%;height: 25%;" src="{{imgUrl}}{{citem.goods.cover}}" alt="" onerror="src='assets/imgs/loginLogo.png'">
                            <div style="width: 90%;">
                                <h1>{{citem.goods.goods_name}}</h1>
                                <!--<p>商品明细</p>-->
                                <p>
                                    <span class="money">¥{{citem.unit_price}}</span>
                                    <span style="font-size: 1.5rem">X{{citem.good_num}}</span>
                                </p>

                            </div>
                        </div>
                        <div class="tag">
                            <span *ngIf="item.order_status >= 3">交易成功</span>
                            <button *ngIf="item.order_status == 3" (click)='gouout(item.order_id)'>申请退款</button>
                            <button *ngIf="item.order_status == 0" (click)="order(item,citem)">立即付款</button>
                            <button *ngIf="item.order_status == 0" (click)="cancelOrder(item)">取消订单</button>
                            <button *ngIf="item.order_status == 2" (click)='shouhuo(item.order_id)'>确认收货</button>
                            <button *ngIf="item.order_status > 1" (click)='shopoder(item)'>查看物流</button>
                            <button (click)='Messagelist(item.order_id,citem.goods.goods_id)'>查看评论</button>
                            <!-- <button *ngIf="item.order_status == 5" (click)='Messagelist(item.order_id)'>查看评论</button> -->
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="ordertype==1">

                <div class="jforder" *ngFor="let item of order_list;let i = index;">
                    <div (click)="goodsjf(item)" style="margin-top: 1rem;">
                        <div class="boxd">
                            <div style="width: 4rem;height:4rem"> <img src="{{imgUrl}}{{item.petdtailorder.petproduct.product_img2}}" alt=""></div>
                            <div>
                                <h3>{{item.petdtailorder.petproduct.product_name}}</h3>
                                <!--<p>商品明细</p>-->
                                <p>
                                    <span class="money">¥{{item.petdtailorder.cash_price}}</span>
                                    <span style="font-size: 1.5rem">X{{item.petdtailorder.integral_num}}</span>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="tag">
                        <span *ngIf="item.order_status >= 3">交易成功</span>
                        <button *ngIf="item.order_status == 3" (click)='complain(item.order_id)'>申诉</button>
                        <span *ngIf="item.order_status == 1" style="color:red">待发货</span>
                        <button *ngIf="item.order_status == 0" (click)="order(item,citem)">立即付款</button>
                        <button *ngIf="item.order_status == 0" (click)="cancelOrder(item)">取消订单</button>
                        <button *ngIf="item.order_status == 2" (click)='surereceiveorder(item.order_id) '>确认收货</button>
                        <button *ngIf="item.order_status >= 2" (click)='shopoder(item)'>查看物流</button>
                        <button *ngIf="item.order_status >=1" (click)='lookevaluate(item,citem) '>订单详情</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ion-content>