page-enter .scroll-content {
  padding: 0 !important;
}

page-enter .fromdata ul {
  display: flex;
  flex-direction: column;
}

page-enter .fromdata ul li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  color: #666;
}

page-enter .fromdata ul li input {
  text-align: right;
  border: none;
}

page-enter .fromdata p {
  padding: 1rem;
  margin-top: 2rem;
  color: #999;
  text-align: center;
}

page-enter .fromdata .subfrom {
  width: 80vw;
  height: 4rem;
  color: #fff;
  background: #f98004;
  border-radius: 0.5rem;
  margin-left: 10vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

page-enter .selectStyle {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #eee;
}

page-enter .selectStyle p {
  color: #999;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  text-align: left;
}

page-enter .selectStyle button {
  width: 6rem;
  height: 6rem;
}

page-enter .selectStyle .options {
  font-size: 1.3rem;
  display: inline-block;
  border-radius: 10px;
  line-height: 20px;
  padding: 4px 11px;
  margin-right: 10px;
  margin-top: 10px;
  background: #ffeded;
}

page-enter .selectStyle .checked {
  background: #ff5d5d;
  color: white;
}

page-enter .item-ios {
  padding-left: 0px !important;
}

page-enter .label-ios {
  /* margin: 11px 8px 11px 0; */
  padding: 1rem;
  color: #666;
}

page-enter .label-md {
  /* margin: 11px 8px 11px 0; */
  padding: 1rem;
  color: #666;
}

page-enter .item-ios.item-block .item-inner {
  border-bottom: 1px solid #eee;
}

page-enter .item-md {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
