page-enter {
    .scroll-content {
        padding: 0 !important;
    }
    .fromdata {
        ul {
            display: flex;
            flex-direction: column;
            li {
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 1px solid #eee;
                color: #666;
                input {
                    text-align: right;
                    border: none
                }
            }
        }
        p {
            padding: 1rem;
            margin-top: 2rem;
            color: #999;
            text-align: center
        }
        .subfrom {
            width: 80vw;
            height: 4rem;
            color: #fff;
            background: #f98004;
            border-radius: 0.5rem;
            margin-left: 10vw;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    .item-ios {
        padding-left: 0px!important;
    }
    .label-ios {
        /* margin: 11px 8px 11px 0; */
        padding: 1rem;
        color: #666;
    }
    .label-md {
        /* margin: 11px 8px 11px 0; */
        padding: 1rem;
        color: #666;
    }
    .item-ios.item-block .item-inner {
        border-bottom: 1px solid #eee;
    }
    .item-md {
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
}