<!--
  Generated template for the EnterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>enter</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="fromdata">
        <ul>
            <li>
                <span>商铺名称</span>
                <input type="text" [(ngModel)]="shopData.shop_name" placeholder="请输入商铺名称">
            </li>
            <li>
                <span>商铺介绍</span>
                <input type="text" [(ngModel)]="shopData.shop_introduce" placeholder="请输入商铺介绍">
            </li>
            <li>
                <span>商铺关键字</span>
                <input type="text" [(ngModel)]="shopData.shop_key" placeholder="请输入商铺关键字">
            </li>
            <li>
                <span>联系电话</span>
                <input type="text" [(ngModel)]="shopData.phonenumber" placeholder="请输入商铺负责人联系电话">
            </li>

			
			<li>
                <span>身份证号</span>
                <input type="text" [(ngModel)]="shopData.idcard" placeholder="请输入身份证号">
            </li>

            <li>
                <span>微信号</span>
                <input type="text" [(ngModel)]="shopData.wechat" placeholder="请输入微信号">
            </li>
            <li>
                <span>QQ号</span>
                <input type="text" [(ngModel)]="shopData.qq" placeholder="请输入QQ号">
            </li>

            <ion-item>
                <ion-label>地区</ion-label>
                <ion-multi-picker item-content [cancelText]="'取消'" [doneText]="'完成'" [multiPickerColumns]="listData"></ion-multi-picker>
            </ion-item>

            <li>
                <span>商铺详细地址</span>
                <input type="text" [(ngModel)]="shopData.address" placeholder="请输入联系地址">
            </li>
            <li>
                <span>CKU有效专业会员/犬舍会员编号</span>
                <input type="text" [(ngModel)]="shopData.cku" placeholder="请输入会员编号">
            </li>
            <li>
                <span>CAAC有效专业会员/猫舍会员编号</span>
                <input type="text" [(ngModel)]="shopData.caac" placeholder="请输入会员编号">
            </li>
            

            <ion-item>
                <ion-label>营业时间</ion-label>
                <ion-datetime [cancelText]="'取消'" [doneText]="'完成'" displayFormat="YYYY/DD/MM" [(ngModel)]="shopData.business_hours"></ion-datetime>
            </ion-item> 
        </ul>
        <div class='selectStyle'>
            <p>点击上传店铺头像</p>
            <button (click)="headpathup()">
        <img src="assets/imgs/images/shangchuan@2x.png" alt="" srcset="">
      </button>
	   <button>
			<img *ngIf="shopData.head_path!=''" src="{{shopData.head_path}}" alt="" srcset="">
		  </button>
        </div>
        <div class='selectStyle'>
            <p>点击上传手持身份证正面照</p>
            <button (click)="mydatasup()">
        <img src="assets/imgs/images/shangchuan@2x.png" alt="" srcset="">
      </button>
	  <button>
			<img *ngIf="shopData.idcardimg1!=''" src="{{shopData.idcardimg1}}" alt="" srcset="">
		  </button>
        </div>
        <div class='selectStyle'>
            <p>点击上传手持身份证反面照</p>
            <button (click)="mydatasout()">
        <img src="assets/imgs/images/shangchuan@2x.png" alt="" srcset="">
      </button>
		  <button>
			<img *ngIf="shopData.idcardimg2!=''" src="{{shopData.idcardimg2}}" alt="" srcset="">
		  </button>
        </div>
        <p><input type="checkbox" [(ngModel)]="agree">我已同意XXX用户协议</p>
        <button class="subfrom" (click)="confirmReg()">确认注册</button>
    </div>
</ion-content>