page-set .scroll-content {
  padding: 0 !important;
  background: #eee;
}

page-set .toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
}
