page-set {
    .scroll-content {
        padding: 0 !important;
        background: #eee
    }
    .toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #fff
    }
    .outlogin {
        width: 90%;
        margin-left: 5%;
        height: 4rem;
        border-radius: 0.5rem;
        margin-top: 5rem;
        background: #f2bf21;
        color: #fff
    }
}