page-set {
    .scroll-content {
        padding: 0 !important;
        background: #eee
    }
    .toggle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: #fff
    }
}
