page-newlay .scroll-content {
  padding: 0 !important;
}

page-newlay .item-inner {
  border: none !important;
}

page-newlay ion-datetime {
  padding: 0 !important;
  width: 50vw;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
}

page-newlay .item-cover {
  height: auto !important;
}

page-newlay .fler {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

page-newlay .fler p {
  margin-top: 1rem;
}

page-newlay .fler img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

page-newlay .radio-ios .radio-checked .radio-inner {
  border-color: #FFC435;
}

page-newlay .item-radio-checked.item-ios ion-label {
  color: #FFC435 !important;
}

page-newlay ion-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
  display: flex;
}

page-newlay .list-ios {
  margin: inherit !important;
}

page-newlay .list-ios .item-block .item-inner {
  border-bottom: none !important;
}

page-newlay .list-ios > .item-block:last-child,
page-newlay .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none !important;
}

page-newlay .list-header-ios {
  padding-left: 0;
  position: relative;
  border-bottom: none;
}

page-newlay .sub {
  width: 80vw;
  height: 4rem;
  border-radius: 5px;
  background: #FFC435;
  margin-left: 10vw;
  margin-top: 5rem;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 5rem;
}

page-newlay .data {
  border-bottom: 1px solid #eee;
  padding: 1rem;
}

page-newlay .data input {
  padding-left: 1rem;
  border: 0;
}
