<ion-header>
    <ion-navbar>
        <ion-title style="display: none">首页</ion-title>
        <div class="titlebox"><button (click)='Pushdiary()'><img src="assets/imgs/images/home1_03.png" alt=""></button><input type='text' (focus)="gopetsaerch()" [(ngModel)]="petid" (keyup.Enter)='showResult()' placeholder="可以通过ID或者昵称搜索宠卡" class='sousuo'><button (click)="checkIn()">签到</button></div>

    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)='doRefresh($event)' *ngIf="!goguidance">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新"  refreshingSpinner="circles" refreshingText="正在拼命加载">
        </ion-refresher-content>
    </ion-refresher>
    <div class="homebox" *ngIf="!goguidance">
        <div *ngIf="!usermgs" style="height: 10rem;line-height: 10rem;">
            <span (click)="gologin()" *ngIf="data.mytoken==null">请登录查看宠卡</span>
            <span (click)="gonewlay()" *ngIf="data.mytoken!==null&&callname.length==0">点击添加宠卡</span>
        </div>
        <div class="bgbox" *ngIf="usermgs">
            <!-- <div class="userimg">
                <img src="assets/imgs/logo.png" alt="">
            </div> -->
            <div class="userimg">
                <!-- <img src="assets/imgs/logo.png" alt=""> -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide" *ngFor="let item of callname" (click)="godetails()">
                            <div class="petimgbox"> <img src="{{imgurl}}{{item.headimgpath}}" alt=""></div>

                            <p> {{item.pet_name}}</p>
                        </div>
                    </div>

                    <!-- <div class="swiper-button-prev">
                        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
                    </div>
                    <div class="swiper-button-next">
                        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
                    </div> -->
                </div>
            </div>
            <!-- <div class="day">
                <ul>
                    <li><span>1天</span><span>5月9日</span></li>
                    <li><span>2天</span><span>5月9日</span></li>
                    <li><span>3天</span><span>5月9日</span></li>
                </ul>
            </div>
            <p class="Radio">天要洗澡要洗澡今天要洗澡要洗澡今天要洗澡要洗澡！</p> -->
        </div>

        <!-- <div class="day2">
            <ul>
                <li><span><img src="assets/imgs/images/home_03.png" alt="" srcset=""></span><span>重量：24kg</span></li>
                <li><span><img src="assets/imgs/images/home_05.png" alt="" srcset=""></span><span>状态：健康,幼儿期</span></li>
                <li><span><img src="assets/imgs/images/home_07.png" alt="" srcset=""></span><span>代金券</span></li>
            </ul>
        </div> -->

        <p class="gotobat" (click)="godaylist()"><span>今日宠榜</span><span>
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
      </span></p>

        <div class="notice" (click)="gotrick()">
            <span>小妙招</span><span>{{contnet}}</span>
        </div>
        <p class="tabs">
            <button [ngClass]="{'cd': lulartype==1}" (click)="expression(lulartype=1)">发现</button>
            <button [ngClass]="{'cd': lulartype==2}" (click)="expression(lulartype=2)">关注</button>
            <button [ngClass]="{'cd': lulartype==3}" (click)="expression(lulartype=3)">活动</button>
        </p>
        <div *ngIf="lulartype==1" style="width:100%">
            <div class="card" *ngFor="let item of petlist;let i=index">
                <div (click)="godetailsto(i)"><img src="{{imgurl}}{{item.petcard.headimgpath}}" alt="" srcset=""></div>
                <div>

                    <h5>{{item.petcard.pet_name}} <span (click)="addpetConcern(i)" *ngIf="!item.concernStatus" style="float: right;color: #999;border: 1px solid #999;padding: 0.1rem 0.5rem;border-radius: 1rem;">关注</span> <span (click)="addConcern(i)" *ngIf="item.concernStatus"
                            style="float: right;color: #999;border: 1px solid #999;padding: 0.1rem 0.5rem;border-radius: 1rem;">取消关注</span></h5>
                    <p><span *ngIf="item.type==2" style="margin-right: 1rem;background: #eec10e;color: #fff; padding: 0.1rem 0.5rem;border-radius: 0.5rem;">传记</span><span *ngIf="item.type==4" style="margin-right: 1rem;background: #21abeb;color: #fff; padding: 0.1rem 0.5rem;border-radius: 0.5rem;">活动</span>{{item.title}}</p>
                    <div (click)="gomessagelist(i)" *ngIf="item.mp4">
                        <!-- <p>{{item.remark}}</p> -->
                        <span style="max-height: 20rem;overflow: hidden;display: inline-block;position: relative;"><span *ngIf="item.mp4" style="position:absolute;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;background: #00000096;"><img src="assets/imgs/showmp4.png" alt="" srcset=""></span>
                        <img src="{{imgurl}}{{item.cover}}" alt="" srcset="" *ngIf="item.cover!=undefined"></span>

                    </div>
                    <div (click)="gomessagelist(i)" *ngIf="!item.mp4">
                        <!-- <p>{{item.remark}}</p> -->
                        <span *ngFor="let items of item.historycontentlist">
                        <span *ngIf="items.path!=''" style="padding: 0.5rem;width: 30%;height: 7rem;display: inline-block;"><img style="width:100%;height:100%" src="https://www.petbashi.com/imgs/{{items.path}}" alt="" srcset=""></span>
                        </span>
                    </div>
                    <div class="Interaction"><span><img src="assets/imgs/zan.png" *ngIf="!item.isLiked"  alt="" srcset="" (click)="addpetLikes(i)"> <img src="assets/imgs/images/quxiaozan.png"  *ngIf="item.isLiked" alt="" srcset="" (click)="qxaddpetLikes(i)">({{item.likesNum}})</span><span><img src="assets/imgs/pl.png" alt="" srcset="">({{item.messageNum}})</span></div>
                </div>
            </div>
            <p style="text-align: center;margin-bottom: 2rem;color: #ffc43596;" *ngIf="loding">已经没有更多数据咯</p>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <div>
            </div>
        </div>
        <div *ngIf="lulartype==2" style="width:100%">
            <div class="card" *ngFor="let item of guanzhulist;let i=index">
                <div (click)="godetailstogz(i)"><img src="{{imgurl}}{{item.petcard.headimgpath}}" alt="" srcset=""></div>
                <div>
                    <h5>{{item.petcard.pet_name}} <span (click)="addpetConcern(i)" *ngIf="item.concernStatus" style="float: right;color: #999;border: 1px solid #999;padding: 0.1rem 0.5rem;border-radius: 1rem;">关注</span> <span (click)="addConcern(i)" *ngIf="!item.concernStatus"
                            style="float: right;color: #999;border: 1px solid #999;padding: 0.1rem 0.5rem;border-radius: 1rem;">取消关注</span></h5>
                    <p><span *ngIf="item.type==2" style="margin-right: 1rem;background: #eec10e;color: #fff; padding: 0.1rem 0.5rem;border-radius: 0.5rem;">传记</span><span *ngIf="item.type==4" style="margin-right: 1rem;background: #21abeb;color: #fff; padding: 0.1rem 0.5rem;border-radius: 0.5rem;">活动</span>{{item.title}}</p>
                    <!-- <div (click)="gomessagelist(i)">
                        <span style="max-height: 20rem;overflow: hidden;display: inline-block;position: relative;">
                            <span *ngIf="item.mp4" style="position:absolute;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;background: #00000096;"><img src="assets/imgs/showmp4.png" alt="" srcset=""></span>
                        <img src="{{imgurl}}{{item.cover}}" alt="" srcset="" *ngIf="item.cover!=undefined"></span>
                        <p>{{item.remark}}</p>
                    </div> -->
                    <div (click)="gomessagelist(i)" *ngIf="!item.mp4">
                        <p>{{item.remark}}</p>
                        <span *ngFor="let items of item.historycontentlist" style="padding: 0.5rem;width: 7rem;height: 7rem;display: inline-block;"><img style="width:100%;height:100%" src="https://www.petbashi.com/imgs/{{items.path}}" alt="" srcset=""></span>
                    </div>
                    <div class="Interaction"><span><img src="assets/imgs/zan.png" *ngIf="!item.isLiked"  alt="" srcset="" (click)="addpetLikes(i)"> <img src="assets/imgs/images/quxiaozan.png"  *ngIf="item.isLiked" alt="" srcset="" (click)="qxaddpetLikes(i)">({{item.likesNum}})</span><span><img src="assets/imgs/pl.png" alt="" srcset="">({{item.messageNum}})</span></div>
                </div>
            </div>

            <p style="text-align: center;margin-bottom: 2rem;color: #ffc43596;" *ngIf="loding">已经没有更多数据咯</p>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            <div>
            </div>
        </div>
        <div *ngIf="lulartype==3" style="width:100%">
            <div class="card2" *ngFor="let item of huodonglist;let i=index">
                <!-- <div><img src="{{imgurl}}{{item.petcard.headimgpath}}" alt="" srcset=""></div> -->
                <div style="width:100%">
                    <h5>{{item.activity_title}}</h5>
                    <!-- <p>{{item.activity_prize}}</p> -->
                    <div style="border-radius: 0.5rem;overflow: hidden;margin-top: 1rem;text-align: center; " (click)="goctivity(i)"><img style="border-radius: 0.5rem;" src="{{imgurl}}{{item.listimg}}" alt="" srcset="">

                    </div>
                </div>
            </div>
            <p style="text-align: center;margin-bottom: 2rem;color: #ffc43596;" *ngIf="loding">已经没有更多数据咯</p>
            <div>
            </div>
        </div>
    </div>
    <guidance *ngIf="goguidance" (changehomes)="gohomes($event)"></guidance>

</ion-content>