page-coupon .scroll-content {
  padding: 0 !important;
  background: #eee;
}

page-coupon .coupon {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

page-coupon .coupon li {
  border-radius: 0.7rem;
  text-align: center;
  background: #fff;
  width: 100%;
  padding: 0 1rem;
  margin-top: 2rem;
  display: flex;
}

page-coupon .coupon li > img {
  margin: 1rem;
}

page-coupon .coupon li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

page-coupon .coupon li div:nth-of-type(1) {
  width: 30%;
  border-right: 1px solid #eee;
}

page-coupon .coupon li div:nth-of-type(2) h1 {
  color: #ff7e00;
  text-align: left;
  width: 100%;
}

page-coupon .coupon li div:nth-of-type(2) p {
  width: 100%;
  text-align: left;
}

page-coupon .coupon li div:nth-of-type(2) span {
  margin-top: 1rem;
  color: #999;
}
