page-deposit {
    .scroll-content {
        padding: 0 !important;
        background: #eee
    }
    .userdata {
        display: flex;
        padding: 1rem;
        background: #fff;
        margin-top: 1rem;
        img {
            width: 5rem;
        }
        p {
            color: #999
        }
        >div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 3.5rem;
            margin-left: 1rem;
            h3 {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                margin-top: 1rem
            }
        }
    }
    .upmoney {
        padding: 1rem;
        background: #fff;
        margin-top: 1rem;
        p {
            color: #999
        }
        hr {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        h1 {
            input {
                border: none;
                margin-left: 2rem;
            }
            input::-webkit-input-placeholder {
                /* WebKit browsers */
                color: #999;
            }
            input:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: #999;
            }
            input::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: #999;
            }
            input:-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: #999;
            }
        
        }
        button {
            width: 80vw;
            height: 3rem;
            border-radius: 0.5rem;
            margin: 3rem 0vw 6vw 7vw;
            background: #FF8929;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 600
        }
    }
}