page-felselist .scroll-content {
  padding: 0 !important;
  background: #eee;
}

page-felselist .titaa {
  margin-bottom: 1rem;
}

page-felselist .titaa .userimg {
  width: 5rem;
  margin-top: 1rem;
}

page-felselist .ble {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #fff;
}

page-felselist .ble2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

page-felselist .ble2 p {
  font-size: 2rem;
}

page-felselist .ble2 span {
  margin-top: 0.5rem;
}

page-felselist .name {
  display: flex;
  flex-direction: column;
}

page-felselist .djd {
  width: 5rem;
  height: 2rem;
  color: #fff;
  background: #EF8936;
  border-radius: 2rem;
}

page-felselist .texx {
  padding: 1rem;
  background: #fff;
}

page-felselist .imglist {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding-bottom: 1rem;
}

page-felselist .imglist img {
  width: 5rem;
  border-radius: 50%;
  margin-left: 6vw;
  margin-bottom: 1rem;
}

page-felselist .titaa {
  background: #fff;
}

page-felselist .top {
  margin-top: 2rem;
}

page-felselist .black {
  color: #999;
}

page-felselist .martop {
  margin-top: -1.5rem;
}
