page-ipam {
    .scroll-content {
        padding: 0 !important;
        background: #eee
    }
    .titaa {
        margin-bottom: 1rem;
        background: #fff;
        overflow: hidden;
        width: 100%;
        display: -webkit-inline-box;
        .userimg {
            width: 3rem;
        }
    }
    .left {
        margin-left: -12rem
    }
    .distribution {
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
    }
    .ble {
        display: flex;
        align-items: center;
        padding: 1rem;
        background: #fff;
        width: 100vw;
        .shopingimg {
            width: 10rem;
            ;
        }
    }
    .ble3 {
        display: flex;
        align-items: center;
        padding: 1rem;
        background: #fff;
        width: 100vw;
        margin-left: -12rem;
        .shopingimg {
            width: 10rem;
            ;
        }
    }
    .orderbutton {
        display: flex;
        button {
            width: 6rem;
            font-size: 1.5rem;
            color: #fff
        }
        button:nth-of-type(1) {
            background: rgb(255, 173, 65)
        }
        button:nth-of-type(2) {
            background: #FF7041
        }
    }
    .ble2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 1rem;
        p {
            font-size: 1.8rem
        }
        .pardack {
            color: #999
        }
        .maxprice {
            color: #FF7041
        }
        .total {
            display: flex;
            justify-content: space-between
        }
        .title {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 7rem;
            >p {
                font-size: 1.5rem;
            }
            >p:nth-of-type(1) {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        span {
            margin-top: 0.5rem;
            img {
                width: 1rem;
            }
        }
    }
    .name {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .djd {
        width: 5rem;
        height: 2rem;
        color: #fff;
        background: #EF8936;
        border-radius: 2rem
    }
    .texx {
        padding: 1rem;
        background: #fff;
    }
    .imglist {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        padding-bottom: 1rem;
        img {
            width: 25vw;
            height: 25vw;
            margin-left: 6vw;
            margin-bottom: 1rem
        }
    }
    .top {
        margin-top: 2rem
    }
    .black {
        color: #999
    }
    .martop {
        margin-top: -1.5rem
    }
    .tarea {
        margin-top: 1rem;
        background: #fff;
        padding: 1rem;
        display: flex;
        justify-content: center;
        p {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            width: 10rem;
        }
    }
}