page-messagelist {
    .card {
        display: flex;
        border-radius: 0.8rem;
        border: 1px solid #eee;
        margin-top: 2rem;
        width: 100%;
        padding-top: 2rem !important;
        padding: 1rem;
        >div:nth-of-type(1) {
            border-radius: 50%;
            min-width: 3rem;
            height: 3rem;
            overflow: hidden;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            background: #dbd9d9;
            >img {
                width: 3rem;
            }
        }
        >div:nth-of-type(2) {
            margin-left: 0.5rem;
            width: 100%;
            >p {
                color: #999;
                margin-top: -1rem;
                display: flex;
                align-items: center;
                padding: 0.5rem 0;
                img {
                    width: 1rem;
                    // height: 1rem;
                    margin-right: 0.5rem;
                }
            }
            div {
                margin-top: 0.5rem;
                >img {
                    width: 5rem;
                    height: 100%;
                }
                >p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                    overflow: hidden;
                    color: #999;
                }
            }
            .Interaction {
                display: flex;
                justify-content: flex-end;
                span {
                    margin: 0.5rem 1rem;
                    img {
                        width: 1.5rem;
                    }
                }
            }
        }
    }
    .imgbox1 {
        width: 30%;
        margin: 1%;
        height: 6rem;
        img {
            width: 100%!important;
            height: 100%;
        }
    }
    .messg {
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid #F9D753;
        li {
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            span {
                display: inline-block;
                word-break: break-all;
                width: 84%;
                i {
                    font-style: normal;
                    color: #666
                }
            }
        }
    }
    .putbox {
        position: fixed;
        width: 100vw;
        left: 0;
        padding: 1rem;
        border-top: 1px solid #eee;
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        background: #f2a048;
        .mess {
            width: 100%;
            border-radius: 0.5rem;
            border: 1px solid #eee;
            padding: 0.5rem;
        }
        .ok {
            padding: 0.5rem;
            background: #F9D753;
            color: #fff;
            width: 4rem;
            margin-left: 0.5rem
        }
    }
    .userimg {
        border-radius: 50%;
        min-width: 3rem!important;
        width: 3rem!important;
        height: 3rem;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background: #dbd9d9;
        img {
            width: 3rem;
        }
        ;
    }
    vg-player {
        font-family: 'videogular';
        position: relative;
        display: flex;
        width: 100%;
        height: 20rem;
        overflow: hidden;
        background-color: black;
    }
}