page-evaluate .scroll-content {
  padding: 0 !important;
  background: #eee;
}

page-evaluate .title2 {
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

page-evaluate .title2 span {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

page-evaluate .texfiler {
  background: #fff;
}

page-evaluate .texfiler textarea {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  border: 0;
  resize: none;
}

page-evaluate .texfiler p {
  padding: 1rem;
}

page-evaluate .texfiler button {
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 25%;
}

page-evaluate .texfiler button img {
  width: 100%;
}

page-evaluate .title2 {
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

page-evaluate .title2 p {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0.5rem;
}

page-evaluate .title2 span img {
  width: 3rem;
}

page-evaluate .title2 button {
  width: 100%;
  height: 4rem;
  text-align: center;
  color: #fff;
  background: #fa6d35;
  font-size: 1.8rem;
  margin-top: 9rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
}

page-evaluate .Fileimg {
  background: #fff;
  width: 90vw;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

page-evaluate .Fileimg .itembox {
  width: 24%;
  margin: 4.5%;
  position: relative;
}

page-evaluate .Fileimg .itembox .remimg {
  width: 1.5rem;
  display: inline-flex;
  position: absolute;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 1.5rem;
  right: -0.5rem;
  top: -0.5rem;
  background: red;
  color: #fff;
}

page-evaluate .Fileimg img {
  width: 100%;
}
