page-xiezhen {
    .mp4btn {
        position: absolute;
        background: rgba(19, 19, 19, 0.54);
        ;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
            width: 2rem;
            height: 2rem;
        }
    }
    ion-label {
        overflow: initial;
        h2 {
            font-size: 0.8rem
        }
    }
}