<!--
  Generated template for the CallshopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>积分商城</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <h5>剩余零食：{{integral_num}}g</h5>
    <div class="titaa">
        <div class="ble">
            <div class="userimg">
                <img src="https://www.petbashi.com/imgs/{{petimg}}" alt="">
            </div>
            <div class="ble2">
                <div class="name">
                    <p>{{petname}}</p>
                    <span>
            <img src="assets/imgs/bq.png" alt="">
            <span>{{coneprnt}}</span></span>
                </div>
                <div>
                    <!--   <button class="djd">
           <img src="assets/imgs/bq.png" alt="">去赚钱</button> -->
                </div>
            </div>
        </div>
    </div>


    <div class="shopmoss">
        <ul>
            <li *ngFor="let item of pordacklist;let i=index">
                <img src="{{imageUrl}}{{item.product_img2}}" alt="" (click)="goshopping(i)">
                <p style="margin:0;color:red;padding-left: 0.5rem">{{item.integral_proportion}}积分抵扣0.1元</p>
                <p class="goshop sizet" (click)="goshopping(i)">{{item.product_name}}</p>

                <p class="goshop">
                    <span>
            <img src="assets/imgs/bq.png" alt="">  <span style="color: rgb(245, 57, 57)"> ¥{{item.product_price | number:'1.2-2'}}</span>

                    </span>
                    <button class="gogogo" *ngIf="item.product_guige-0==0" style="background: #999;">售完</button>
                    <button class="gogogo" *ngIf="item.product_guige-0!==0" (click)="goorder(i)">兑换</button>
                </p>
            </li>

            <!-- <li>

                <img src="../../assets/imgs/gongxi_03.jpg" alt="">

                <p class="goshop sizet">猫粮</p>
                <p class="goshop">
                    <span>
            <img src="assets/imgs/bq.png" alt="">  <span style="color: rgb(245, 57, 57)"> x1</span>
                    <span class="black">可兑换</span>
                    </span>
                    <button class="gogogo2">已兑完

          </button>
                </p>
            </li>
            <li>

                <img src="../../assets/imgs/gongxi_03.jpg" alt="">

                <p class="goshop sizet">猫粮</p>
                <p class="goshop">
                    <span>
            <img src="assets/imgs/bq.png" alt="">  <span style="color: rgb(245, 57, 57)"> x1</span>
                    <span class="black">可兑换</span>
                    </span>
                    <button class="gogogo">兑换

          </button>
                </p>
            </li> -->
        </ul>

    </div>
</ion-content>