page-playcode {
    .playcode {
        position: relative;
      margin-top: 3rem;
        img {
            position: absolute;
            width: 2rem;
            left: 0.5rem;
        }
        input {
            width: 100%;
            border-radius: 0.5rem;
            padding: 0.5rem 3rem;
            border: 1px solid #dadada;
            height: 3rem;
        }
        input::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #e4e4e4;
        }
        input:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #e4e4e4;
        }
        input::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #e4e4e4;
        }
        input:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #e4e4e4;
        }
    }

    .isok{
        width: 100%;
        background: rgb(245, 169, 82);
        color: #fff;
        height: 3rem;
       margin-top: 3rem;
        border-radius: 0.5rem;

    }
}