page-chatroom .scroll-content {
  padding: 0 !important;
}

page-chatroom .myusertext {
  display: flex;
  flex-wrap: nowrap;
  padding: 1.5rem;
}

page-chatroom .myusertext img {
  width: 4rem;
  height: 4rem;
}

page-chatroom .myusertext p {
  margin-left: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  color: #999;
  font-size: 1.3rem;
  font-weight: 500;
}

page-chatroom .youusertext {
  display: flex;
  flex-wrap: nowrap;
  padding: 1.5rem;
  flex-direction: row-reverse;
}

page-chatroom .youusertext img {
  width: 4rem;
  height: 4rem;
}

page-chatroom .youusertext p {
  margin-right: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  color: #999;
  font-size: 1.3rem;
  font-weight: 500;
}

page-chatroom .pushnews {
  border-top: 1px solid #e2e2e2;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

page-chatroom .pushnews p {
  display: flex;
  align-items: center;
}

page-chatroom .pushnews .btnimg {
  justify-content: space-evenly;
}

page-chatroom .pushnews .btnimg button {
  width: 5rem;
}

page-chatroom .pushnews button {
  width: 3rem;
  background: #fff;
}

page-chatroom .pushnews input {
  height: 2rem;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid #e2e2e2;
}

page-chatroom .pushnews img {
  width: 100%;
}
