page-givenotice .messg {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #F9D753;
}

page-givenotice .messg li {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

page-givenotice .messg li span {
  display: inline-block;
  word-break: break-all;
  width: 84%;
}

page-givenotice .messg li span i {
  font-style: normal;
  color: #666;
}

page-givenotice .messg .userimg {
  width: 13% !important;
  margin-right: 0.5rem;
  height: 3rem;
  border-radius: 3rem;
  display: inline-block;
  overflow: hidden;
}

page-givenotice .messg .userimg img {
  width: 100%;
}

page-givenotice .titaa {
  margin-bottom: 1rem;
  border: 1px solid #f3e0a6;
  border-radius: 5px;
  overflow: hidden;
}

page-givenotice .titaa .userimg {
  width: 5rem;
  margin-top: 1rem;
  border-radius: 50%;
}

page-givenotice .titaa .ble {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #fff;
}

page-givenotice .titaa .ble2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

page-givenotice .titaa .ble2 p {
  font-size: 2rem;
}

page-givenotice .titaa .ble2 span {
  margin-top: 0.5rem;
}

page-givenotice .titaa .ble2 span img {
  width: 1rem;
}

page-givenotice .titaa .djd {
  width: 5rem;
  height: 2rem;
  color: #fff;
  background: #EF8936;
  border-radius: 2rem;
}
