<!--
  Generated template for the DiaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>传记</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="listbox">
        <ul>
            <li *ngFor="let item of data let i=index" (swipe)="swipeEvent($event,i)">
                <div [ngClass]="{'list':letfbor!==i,'list2':letfbor==i}" (click)="gomess(i)" (click)='letfbor=-1'>
                    <div class="date">
                        <img src="{{item.path}}" alt="">
                    </div>
                    <div class="ttt">
                        <span class="ddd">
              <span class="hh">{{item.title}}</span>
                        <span>
                {{item.remark}}
              </span>
                        <span>{{item.date}}</span>
                        </span>

                    </div>

                </div>
                <div class="listbutton">
                    <!-- <button class="editor">编辑</button> -->
                    <button class="rem" (click)="remlist(i)">删除</button>
                </div>
            </li>
        </ul>
    </div>

    <button class="gopage" (click)='gopushdiary()' *ngIf="gay">
    <img src="assets/imgs/images/imhpush.png" alt="">
  </button>
</ion-content>