<!--
  Generated template for the StorecartsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的收藏</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of collect; let i = index">
      <ion-item text-wrap>
        <ion-thumbnail item-left>
          <img src="{{imgUrl}}{{item.cover}}" *ngIf="item.cover">
        </ion-thumbnail>
        <h2>{{item.goods_name}}</h2>
        <p>{{item.goods_key}}</p>
      </ion-item>
      
      
      <ion-item>
	    <ion-note item-left (click)="check(i)">
			<ion-icon style="font-size: 2.2em;" *ngIf="!checks[i]" name="ios-checkmark-circle-outline"></ion-icon>
			<ion-icon style="font-size: 2.2em;" *ngIf="checks[i]" name="ios-checkmark-circle"></ion-icon>

		</ion-note>
        <ion-note item-left>收藏时间</ion-note>
        <ion-note item-left primary>{{item.createtime}}</ion-note>
		<ion-note item-right>
		<button full secondary (click)="removeItem(item.collection_id,i)">
			<img src="./assets/imgs/carts/del.jpg" style="width:2.4rem" />
		</button>
		</ion-note>
      </ion-item> 
       
    </ion-card>
    
  </ion-list>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
	<ion-buttons left (click)="checkAll()">
       <button ion-button>
        <ion-icon style="font-size: 2.2em;" *ngIf="checkTxt=='全选'" name="ios-checkmark-circle-outline"></ion-icon>
		<ion-icon style="font-size: 2.2em;" *ngIf="checkTxt=='取消全选'" name="ios-checkmark-circle"></ion-icon>
		{{checkTxt}}
        </button>
    </ion-buttons>
	<ion-buttons right (click)="dels()">
		<button style="background-color:red;padding: 0px 2rem;" ion-button block>
			删除
		</button>
	</ion-buttons>

  </ion-toolbar>
  
</ion-footer>