page-pushcoupon .scroll-content {
  padding: 0 !important;
}

page-pushcoupon .fromdata ul {
  display: flex;
  flex-direction: column;
}

page-pushcoupon .fromdata ul li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  color: #666;
}

page-pushcoupon .fromdata ul li input {
  text-align: right;
  border: none;
}

page-pushcoupon .fromdata ul li .monet {
  border-bottom: 1px solid #eee !important;
  width: 4rem;
}

page-pushcoupon .fromdata p {
  padding: 1rem;
  margin-top: 2rem;
  color: #999;
  text-align: center;
}

page-pushcoupon .fromdata .tijiao {
  width: 80vw;
  height: 4rem;
  color: #fff;
  background: #f98004;
  border-radius: 0.5rem;
  margin-left: 10vw;
  margin-top: 2rem;
}

page-pushcoupon .fromdata .item-cover {
  position: inherit;
  width: 3rem;
}
