page-toushilist .btns {
  display: flex;
  justify-content: center;
}

page-toushilist .btns button {
  margin: 0.5rem;
  background: none;
}

page-toushilist .btns .cols {
  color: #ffc435;
}

page-toushilist h1,
page-toushilist h2,
page-toushilist h3,
page-toushilist h4,
page-toushilist h5,
page-toushilist h6 {
  line-height: inherit;
}

page-toushilist .nolist {
  color: #999;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1.5rem;
}
