page-toushilist {
    .btns {
        display: flex;
        justify-content: center;
        button {
            margin: 0.5rem;
            background: none
        }
        .cols {
            color: #ffc435
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: inherit;
    }
    .nolist {
        color: #999;
        border: 1px solid;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-align: center;
        margin-top: 1.5rem;
    }
}