<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>视频动态</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="put_box">

        <input type="text" name="" placeholder="点击输入标题" id="" class="">
        <img src="{{imgpath}}" alt="">
    </div>
    <div class="area">
        <textarea placeholder="记录今天成长的趣事"></textarea>
    </div>
    <div class="area">
        <div class="Fileimg">
            <div class="itembox" *ngIf="videpath==''">
                <span class="remimg" *ngIf="videpath!==''" (click)='remimages(i)'>X</span>
                <img src="{{avatar}}" alt="" (click)="devoup(i)">
            </div>
            <div *ngIf="videpath!=''">
                <span class="remimg" *ngIf="videpath!==''" (click)='remimages(i)'>X</span>
                <vg-player>
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                        <source src="http://116.62.219.45/imgs/{{videpath}}" type="video/mp4">
                    </video>
                </vg-player>
            </div>

        </div>
    </div>
    <!-- <div class="header-image" tappable [ngStyle]="{'background-image': 'url('+avatar+')'}" (click)="presentActionSheet()"></div> -->

    <button class="pushimg" (click)="submit()">确认</button>
</ion-content>